<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>

<body>
    <h1>Add New User</h1>
    <form action="/add_user" method="POST">
        <label>Username:
            <input type="text" name="username" required>
        </label>
        <br><br>
        <label>Password:
            <input type="password" name="password" required>
        </label>
        <br><br>
        <label>Nickname:
            <input type="text" name="nickname" required>
        </label>
        <br><br>
        <label>Gender:
            <select name="gender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </label>
        <br><br>
        <button type="submit">Add User</button>
    </form>

    <!-- 返回用户管理页面 -->
    <a href="/user">Back to User Management</a>
</body>

</html>